version: "3.8"

services:
  gateway:
    container_name: "hayat_gateway_service"
    image: hayat_gateway_service:latest
    build:
      context: ./landscape/gateway
      dockerfile: Dockerfile
    network_mode: "host"
    ports:
      - "8443:8443"
    depends_on:
      - discovery-service
    healthcheck:
      test: "curl --fail --silent localhost:8761/actuator/health | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 40s

  config-service:
    container_name: "hayat_config_service"
    image: hayat_config_service:latest
    build:
      context: ./landscape/config-service
      dockerfile: Dockerfile
    network_mode: "host"
    ports:
      - "8111:8111"
    depends_on:
      - discovery-service
    healthcheck:
      test: "curl --fail --silent localhost:8761/actuator/health | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 40s

  discovery-service:
    container_name: "hayat_discovery_service"
    image: hayat_discovery_service:latest
    build:
      context: ./landscape/discovery-service
      dockerfile: Dockerfile
    network_mode: "host"
    ports:
      - "8761:8761"
  authorization-service:
    container_name: "hayat_authorization_service"
    image: hayat_authorization_service:latest
    build:
      context: ./landscape/authorization
      dockerfile: Dockerfile
    restart: on-failure
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - SMS_ENV=${SMS_ENV}
      - SMS_USERNAME=${SMS_USERNAME}
      - SMS_PASSWORD=${SMS_PASSWORD}
      - SMS_SENDER=${SMS_SENDER}
      - SMS_LANGUAGE=${SMS_LANGUAGE}
    network_mode: "host"
    ports:
      - "8082:8082"
    depends_on:
      - db
      - redis
      - discovery-service
      - config-service
  donations-service:
    container_name: "hayat_donations_service"
    image: hayat_donations_service:latest
    build:
      context: ./services/donations
      dockerfile: Dockerfile
    restart: on-failure
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    network_mode: "host"
    ports:
      - "8084:8084"
    depends_on:
      - db
      - redis
      - discovery-service
      - config-service
  needs-service:
    container_name: "hayat_needs_service"
    image: hayat_needs_service:latest
    build:
      context: ./services/needs
      dockerfile: Dockerfile
    restart: on-failure
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    network_mode: "host"
    ports:
      - "8082:8082"
    depends_on:
      - db
      - redis
      - discovery-service
      - config-service
  common-service:
    container_name: "hayat_common_service"
    image: hayat_common_service:latest
    build:
      context: ./services/common
      dockerfile: Dockerfile
    restart: on-failure
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    network_mode: "host"
    ports:
      - "8085:8085"
    depends_on:
      - db
      - redis
      - discovery-service
      - config-service
  redis:
    container_name: "hayat_redis"
    image: redis:latest
    network_mode: "host"
    ports:
      - "6379:6379"
  db:
    image: mysql:8.0
    container_name: "hayat_mysql"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    network_mode: "host"
    volumes:
      - hayat_db:/var/lib/mysql
    ports:
      - "3306:3306"
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: "hayat_keycloak"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    network_mode: "host"
    command: ["start-dev", "--http-port=8181"]
    volumes:
      - hayat_keycloak:/var/lib/keycloak
    ports:
      - "8181:8080"
volumes:
  hayat_db:
  hayat_keycloak:
  hayat_mongodb:
